# What protocol to use when performing git operations.
# Supported values: ssh, https
git_protocol: https
# What editor gh should run when creating issues, pull requests, etc.
# If blank, will refer to environment.
editor: nvim
# When to interactively prompt.
# This is a global config that cannot be overridden by hostname.
# Supported values: enabled, disabled
prompt: enabled
# A pager program to send command output to, e.g.
# "less". Set the value to "cat" to disable the pager.
pager:
# Aliases allow you to create nicknames for gh commands
aliases:
    co: pr checkout
# The path to a unix socket through which send HTTP connections.
# If blank, HTTP traffic will be handled by net/http.DefaultTransport.
http_unix_socket:
# What web browser gh should use when opening URLs.
# If blank, will refer to environment.
{{ if eq .chezmoi.os "windows" -}}
{{ if eq .chezmoi.hostname "TanakaPC" -}}
browser: {{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").gh_config_browser_path.value }}
{{ else -}}
browser: {{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").gh_config_browser_path.value }}
{{ end -}}
{{ else -}}
{{ if eq .chezmoi.hostname "azusa" -}}
browser: {{ (rbwFields "dotfiles-chezmoi").azusa_gh_config_browser_path.value }}
{{ else -}}
browser: {{ (rbwFields "dotfiles-chezmoi").gh_config_browser_path.value }}
{{ end -}}
{{ end -}}
version: "1"

# vim:ft=yaml.chezmoitmpl
