# Global
set -x LANG en_US.UTF-8
set -x GHQ_ROOT $HOME/ghq
set -x GHQ_SELECTOR fzf
set -x FISH_CONFIG_DIR $HOME/.config/fish
set -x FISH_COMPLETIONS_DIR $HOME/.config/fish/completions
set -x FISH_FUNCTIONS_DIR $HOME/.config/fish/functions
set -x PIPENV_VENV_IN_PROJECT 1
set -x TODAY (date +"%Y/%m/%d")
set -x TZ "Asia/Tokyo"

{{ if (eq .chezmoi.hostname "TanakaPC") }}
set -x WORKSPACE {{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").workspace_path.value }}
set -x WIN_HOME {{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").win_home_path.value }}
set -x obsidian $WIN_HOME/{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").obsidian_dailynotes_path.value }}
{{ else }}
set -x WORKSPACE {{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").config_fish_path_workspace.value }}
set -x WIN_HOME {{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").config_fish_path_win_home.value }}
set -x obsidian $WIN_HOME/{{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").obsidian_dailynotes_path.value }}
{{ end }}
set -x windl $WIN_HOME/Downloads
set -x WIN_DESKTOP $WIN_HOME/Desktop
set -x WIN_DOCUMENTS $WIN_HOME/Documents
set -x obsidian_vault_path "$obsidian/../"

alias f fuck
alias rm "rm -i"
alias mkdir "mkdir -p"
alias untar "tar xvf"
alias rm gomi
alias pueued_enable "systemctl --user enable pueue"
alias pueued_start "systemctl --user start pueue"
alias pueued_restart "systemctl --user restart pueue"
alias patch "patch -p1 <"
alias imgcat "wezterm imgcat"

# XDG Base Directory
set -x XDG_CONFIG_HOME $HOME/.config
set -x XDG_CACHE_HOME $HOME/.cache
set -x XDG_DATA_HOME $HOME/.local/share
set -x XDG_STATE_HOME $HOME/.local/state

set -x LOCALBIN $HOME/.local/bin

set -x PATH /usr/bin $PATH
set -x PATH /usr/local/bin $PATH
set -x PATH /usr/local/sbin $PATH
set -x PATH $HOME/go/bin $PATH
set -x PATH $HOME/.cargo/bin $PATH

set -x DENO_INSTALL $HOME/.deno
set -x PATH $DENO_INSTALL/bin $PATH

set -x STARSHIP_CONFIG $HOME/.config/starship/starship.toml
set -x STARSHIP_CACHE ~/.config/starship/cache

#Ubuntu
set -x PATH /bin $PATH
set -x PATH /usr/games $PATH
set -x PATH /usr/sbin $PATH
set -x PATH /usr/local/games $PATH
set -x PATH /sbin $PATH
set -x PATH /snap/bin $PATH
set -x PATH $HOME/.fzf/bin $PATH
set -x PATH $HOME/.local/bin/ $PATH
set -x PATH $HOME/.npm-global/bin $PATH
set -x PATH $HOME/.dotnet/tools/ $PATH
set -x PATH $HOME/.gem/ruby/2.7.0/bin/ $PATH
set -x PATH $HOME/depot_tools $PATH
set -x PATH /usr/local/go/bin/ $PATH

set -x EDITOR nvim
set -x NVIM_APPNAME nvim
set -x NVIM_CONFIG $HOME/.config/nvim

alias pip "python3 -m pip"
alias pipx "python3 -m pipx"

alias open wsl-open
alias zel zellij
alias pueuexec "pueue add --"

# asdf
source ~/.asdf/asdf.fish

# starship config
starship init fish | source

# direnv config
asdf exec direnv hook fish | source

# dotnet-core completions
complete -f -c dotnet -a "(dotnet complete)"

# Bun
set -Ux BUN_INSTALL $HOME/.bun
set -px --path PATH $BUN_INSTALL/bin

# navi
source ~/.config/navi/navi_widget.fish

# fly.io
set -x FLYCTL_INSTALL $HOME/.fly
set -x PATH $FLYCTL_INSTALL/bin $PATH

# pnpm
set -x PNPM_HOME $HOME/.local/share/pnpm
set -x PATH "$PNPM_HOME" $PATH
[ -f ~/.config/tabtab/fish/__tabtab.fish ]; and . ~/.config/tabtab/fish/__tabtab.fish; or true

# keychain
{{ if (eq .chezmoi.hostname "TanakaPC") }}
source $HOME/.keychain/{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").config_fish_keychain_filepath.value }}-fish
{{ else }}
source $HOME/.keychain/{{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").config_fish_keychain_filepath.value }}-fish
{{ end }}

# work pc only tools
{{ if (eq .chezmoi.hostname "TanakaPC") }}
source $HOME/.config/{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").source_work_pc_only_tool_fish_1.value }}

# JVM path
set -x JAVA_HOME $HOME/.cache/coursier/arc/https/github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u292-b10/OpenJDK8U-jdk_x64_linux_hotspot_8u292b10.tar.gz/jdk8u292-b10
set -x PATH $HOME/.cache/coursier/arc/https/github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u292-b10/OpenJDK8U-jdk_x64_linux_hotspot_8u292b10.tar.gz/jdk8u292-b10/bin $PATH

# coursier path
set -x PATH $HOME/.local/share/coursier/bin $PATH
# windowsのpathとかぶる問題防止
alias cs $HOME/.local/share/coursier/bin/cs
{{ end }}

# cabal config
set -x PATH $HOME/.cabal/bin $PATH
set -x PATH $HOME/.ghcup/bin $PATH

# wsl2-ssh-agent
set -x SSH_AUTH_SOCK $HOME/.ssh/wsl2-ssh-agent.sock

# https://github.com/antfu/ni config
set -x NI_CONFIG_FILE $HOME/.config/ni/.nirc

# codon config
set -x PATH $HOME/.codon/bin $PATH

# ls alias
alias ls eza
alias ll "ls -l"
alias la "ls -la"
alias l1 "ls -1"
alias lt "ls --tree"
alias lat "ls -l -a --tree"
alias lta "ls --tree -a"

# vim alias
alias paleovim $HOME/.asdf/shims/vim
alias pvim paleovim
alias neovim $HOME/.asdf/shims/nvim
alias vim "nvim"

# Rye
set -x PATH $HOME/.rye/shims $PATH

# rtx
#set -x RTX_DATA_DIR $HOME/.rtx
#set -x RTX_CACHE_DIR $RTX_DATA_DIR/cache

# luarocks
set -x PATH $HOME/.luarocks/bin $PATH

set -x LUA_PATH "/usr/local/share/lua/5.3/?.lua"
set -x LUA_PATH "/usr/local/share/lua/5.3/?/init.lua" $LUA_PATH
set -x LUA_PATH "/usr/local/lib/lua/5.3/?.lua" $LUA_PATH
set -x LUA_PATH "/usr/local/lib/lua/5.3/?/init.lua" $LUA_PATH
set -x LUA_PATH "./?.lua" $LUA_PATH
set -x LUA_PATH "./?/init.lua" $LUA_PATH
set -x LUA_PATH "$HOME/.luarocks/share/lua/5.3/?.lua" $LUA_PATH
set -x LUA_PATH "$HOME/.luarocks/share/lua/5.3/?/init.lua" $LUA_PATH

set -x LUA_CPATH "/usr/local/lib/lua/5.3/?.so"
set -x LUA_CPATH "/usr/local/lib/lua/5.3/loadall.so" $LUA_CPATH
set -x LUA_CPATH "./?.so" $LUA_CPATH
set -x LUA_CPATH "$HOME/.luarocks/lib/lua/5.3/?.so" $LUA_CPATH

# Linuxbrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
