# HACK: Now configuration... 2026年2月19日
.config/powershell/**
.config/nushell/**

# HACK: Now configuration... 2026年2月13日
.config/wezterm/**
.config/ghostty/**
.config/vim/**
.vim/**

# HACK: Now configuration... 2026年1月12日
.bashrc
.bash_profile
.config/fish/**
.config/powershell/**
.config/zsh/**
.zshrc
.zshenv
.claude/**
.gemini/**
.codex/**

# HACK: Now configuration...
.emacs.d/**
.config/rofi/**
AppData/Local/Packages/Microsoft.WindowsTerminal*
AppData/Roaming/CorvusSKK/userdict.txt
.config/home-manager/**
.config/nvim/**
.config/fcitx5/**

# some README.md files
README.md
.config/README.md
.config/i3/README.md
.config/nvim/README.md
.config/vim/README.md
.glzr/zebar/README.md

# Ignore: All envs
*.zip
*.patch
*.patch.gpg
.config/fish/completions/git-forgit.bash
.config/fish/completions/wezterm.fish
.config/fish/completions/pnpm.fish
.config/fish/completions/tide.fish
.textlintcache
.chezmoiexternal.toml
.chezmoiignore
.chezmoi.toml
.cspell.json
.czrc
.config/powershell/Invoke-FixEncode.ps1
.config/powershell/PSScriptAnalyzerSettings.psd1
.commitlintrc.yml
.editorconfig
.gitignore
.gitleaksignore
.ls-lint.yml
.luarc.json
.mise.toml
.prettierignore
.prettierrc
.remindignore
.textlintrc.json
.typos.toml
.whitesource

node_modules
Brewfile
CHANGELOG.md
CLAUDE.md
envdiff.yaml
get_ipv4.sh
lefthook.yml
LICENSE.txt
Makefile
maskfile.md
nyagos.yml
package.json
package.yml
pnpm-lock.yaml
pnpm-workspace.yaml
PSScriptAnalyzerSettings.psd1
remind.yml
renovate.json5
selene.toml
STARTUPTIME.md
stylua.toml
table.yml
Taskfile.yml
rusk.toml
vim.yml

.chezmoiscripts/linux/**
.chezmoiscripts/macos/**
.chezmoiscripts/windows/**
.config/nvim/lua/unused/**
.config/nvim-lit/**
.config/nvim-rocks/**
.github/**
.mise/**

assets/**
docs/**
game_settings/**
misc/**
scripts/**

# Ignore: Not eq OS: Linux
{{ if (ne .chezmoi.os "linux") }}
.local/bin/**
.config/elvish/**
.config/fish/**
.config/foot/**
.config/ghostty/**
.config/gup/**
.config/home-manager/**
.config/Hyper/**
.config/ion/**
.config/mise/**
.config/moxide/**
.config/presenterm/**
.config/rbw/**
.config/tmux/**
.config/zeno/**
.config/systemd/**
.config/systemd/user/wsl-wayland-symlink.service
.mimikun-pkglists/linux_cargo_packages.txt
.brow6el/**
.exrc
.nanorc
.profile
.zshrc
.tcshrc
.yashrc
{{ end }}

# Ignore: Not eq hostname: azusa
{{ if (ne .chezmoi.hostname "azusa") }}
.config/betterlockscreen/**
.config/fcitx5/**
.config/flameshot
.config/flameshot/**
.config/i3/**
.config/i3status-rust/**
.config/polybar/**
.config/rofi/**
.xinitrc
.xmodmap
.xonshrc
.Xresources
.xsession
{{ end }}

# Ignore: Not eq OS: Windows
{{ if (ne .chezmoi.os "windows") }}
AppData/**
Documents/**
OneDrive/**
macros.txt
.glzr/**
.mimikun-pkglists/windows_cargo_packages.txt
.wslconfig
utilities/**
{{ end }}

# Ignore: is Work-PCs
# Linux: isExecutable this_is_work_pc
{{ if (and (eq .chezmoi.os "linux") (isExecutable "/usr/local/bin/this_is_work_pc")) }}
utilities/**
AppData/Roaming/GitHub CLI/**
{{ end }}
# Windows: isExecutable this_is_work_pc.exe
{{ if (and (eq .chezmoi.os "windows") (isExecutable "C:\\Program Files\\Yt Env Checks\\this_is_work_pc.exe")) }}
utilities/**
AppData/Roaming/GitHub CLI/**
{{ end }}

# vim:ft=gitignore.tmpl
