{{ if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh.exe"
{{ end }}

[hooks.apply.pre]
{{ if eq .chezmoi.os "linux" }}
command = "echo"
args = ["pre-apply-hook"]
{{ else }}
command = "pwsh"
args = ["-c", "& {Invoke-RunBeforeChezmoiApply}"]
{{ end }}
[hooks.apply.post]
{{ if eq .chezmoi.os "linux" }}
command = "echo"
args = ["post-apply-hook"]
{{ else }}
command = "pwsh"
args = ["-c", "& {Invoke-RunAfterChezmoiApply}"]
{{ end }}

[diff]
    command = "delta"
