[".config/alacritty/themes"]
    type = "git-repo"
    url = "https://github.com/alacritty/alacritty-theme"
    refreshPeriod = "24h"
    clone.args = ["--filter=blob:none"]
[".config/elvish/lib/ghostty-integration.elv"]
    type = "file"
    url = "https://raw.githubusercontent.com/ghostty-org/ghostty/refs/heads/main/src/shell-integration/elvish/lib/ghostty-integration.elv"
    exact = true
    refreshPeriod = "24h"
