# rofi customize now
.config/rofi/**

## All
.editorconfig
.github/**
.gitignore
.textlintcache
.textlintrc.json
.prettierignore
.prettierrc
.typos.toml
.luarc.json
.config/README.md
.config/fish/README.md
.config/nvim/README.md
.config/nvim-old/README.md
.config/vim/README.md
.vim/README.md
commitlint.config.ts
.husky/**

CHANGELOG.md
LICENSE.txt
Makefile
maskfile.md
README.md
STARTUPTIME.md
TODO.md
node_modules
WSLInterop.conf
wsl.conf
renovate.json5
selene.toml
stylua.toml
vim.yml
nyagos.yml
package.yml
package.json
pnpm-lock.yaml
PSScriptAnalyzerSettings.psd1
docs/**
assets/**
utils/**
game_settings/**
misc/**

# If not archlinux(azusa)
{{ if ne .chezmoi.hostname "azusa" }}
.Xresources
.xinitrc
.xmodmap
.xsession

.config/i3/**
.config/i3status-rust/**
.config/fcitx5/**
.config/betterlockscreen/**
.config/polybar/**
.config/rofi/**
.config/zed/**
{{ end }}

# If work-pc
{{ if eq .chezmoi.hostname "TanakaPC" }}
utilities/StopTrex.ps1
utilities/GamingMode.bat
utilities/Mining.bat
utilities/MiningMode.bat
utilities/StopTrex.bat
utilities/dual-gminer-mining.bat
utilities/gminer-flux-mining.bat
utilities/gminer-mining.bat
utilities/lolminer-mining.bat
utilities/miniz-flux-mining.bat
utilities/t-rex-mining.bat
.config/vim/**
.vim/**
{{ end }}

# If not Linux
{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**

.actrc
.exrc
.nanorc
.mise.toml
.zshrc
.tcshrc
.xonshrc
.config/elvish/**
.config/emacs/**
.config/fish/**
.config/ion/**
.config/mise/**
.config/neofetch/**
.config/nushell/**
.config/pueue/**
.config/rbw/**
.config/sheldon/**
.config/yazi/**
.config/gitu/**
.config/lazydocker/**
.config/lazygit/**
.ghcup/**
.local/bin/**

Brewfile
.mimikun-pkglists/linux_cargo_packages.txt
.mimikun-pkglists/linux_pip_packages.txt
.mimikun-pkglists/linux_rubygem_list
{{ end }}

# If not macOS
{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/macos/**
{{ end }}

# If not windows
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**

.config/winfetch/**
.config/whkdrc
.glaze-wm/**
.wslconfig.tmpl
.inputrc

komorebi.json
macros.txt
applications.yaml
utilities/**
.mimikun-pkglists/windows_cargo_packages.txt
AppData/**
Documents/**
OneDrive/**
{{ end }}
