# Common to all platforms
*.zip
*.patch
*.patch.gpg
node_modules
.textlintcache

# Linux only
dot_config/fish/completions/bd.fish
dot_config/fish/completions/docker-compose.fish
dot_config/fish/completions/docker.fish
dot_config/fish/completions/fisher.fish
dot_config/fish/completions/ghq.fish
dot_config/fish/completions/gitignore.fish
dot_config/fish/completions/spin.fish
dot_config/fish/completions/poetry.fish
dot_config/fish/completions/hwm.fish

# Windows only
AppData/Local/nvim/Makefile
vimfiles/Makefile
