# All platform 共通

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.hostname "TanakaPC" -}}
# Linuxのとき
if [ -e $HOME/.nix-profile/etc/profile.d/nix.sh ]; then . $HOME/.nix-profile/etc/profile.d/nix.sh; fi # added by Nix installer

# >>> JVM installed by coursier >>>
export JAVA_HOME="$HOME/.cache/coursier/arc/https/github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u292-b10/OpenJDK8U-jdk_x64_linux_hotspot_8u292b10.tar.gz/jdk8u292-b10"
export PATH="$PATH:$HOME/.cache/coursier/arc/https/github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u292-b10/OpenJDK8U-jdk_x64_linux_hotspot_8u292b10.tar.gz/jdk8u292-b10/bin"
# <<< JVM installed by coursier <<<

# >>> coursier install directory >>>
export PATH="$PATH:$HOME/.local/share/coursier/bin"
# <<< coursier install directory <<<

source $HOME/.config/broot/launcher/bash/br
{{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
# macOSのとき
{{ else if eq .chezmoi.os "windows" -}}
# Windowsのとき
# System-wide bashrc file
if [ -f ~/.bashrc ]; then
    source ~/.bashrc
fi
{{ else -}}
#その他のOSのとき
{{ end -}}
