[wsl2]
{{ if (isExecutable "C:\\Program Files\\Yt Env Checks\\this_is_work_pc.exe") -}}
localhostforwarding=true
{{ else -}}
{{ if (eq .chezmoi.hostname "Wakamo") -}}
processors=8
{{ else -}}
processors=12
{{ end -}}
swap=0
{{ end -}}

# NOTE: Only available on Windows 11
#nestedVirtualization=false
#vmIdleTimeout=6000

# NOTE: Only available on Windows 11 22H2
networkingMode = "mirrored"

[experimental]
autoMemoryReclaim="disabled"
# NOTE: slow release
#autoMemoryReclaim="gradual"
# NOTE: instant release
#autoMemoryReclaim="dropcache"

sparseVhd=false

# NOTE: Only available on Windows 11 22H2
hostAddressLoopback=false

# vim:ft=conf
