[wsl2]
safeMode = false
pageReporting = true
guiApplications = true
debugConsole = false
nestedVirtualization = true
vmIdleTimeout = 60000
dnsProxy = true
firewall = true
dnsTunneling = true
autoProxy = true
defaultVhdSize = 1TB

{{ if (isExecutable "C:\\Program Files\\Yt Env Checks\\this_is_work_pc.exe") -}}
memory = 8GB
localhostforwarding=true
swap=2GB
networkingMode = "NAT"
{{ else -}}
localhostforwarding=true
swap=0
networkingMode = "mirrored"
{{ end -}}

#--------------------------------------------------------------------------------

# XXX: Experimental
[experimental]
# NOTE: "gradual" or "dropCache". default "dropCache"
autoMemoryReclaim = "dropCache"
# NOTE: ???
sparseVhd = false
# NOTE: available when `wsl2.dnsTunneling = true`
bestEffortDnsParsing = false
# NOTE: available when `wsl2.dnsTunneling = true`
dnsTunnelingIpAddress = "10.255.255.254"
# NOTE: available when `wsl2.autoProxy = true`
initialAutoProxyTimeout = "1000"
# NOTE: available when `wsl2.networkingMode = "mirrored"
# XXX: Im not use it
#ignoredPorts = "3000,9000,9090"
# NOTE: available when `wsl2.networkingMode = "mirrored"`
hostAddressLoopback = false

# vim:ft=conf
