# Linux
{{ if eq .chezmoi.os "linux" -}}
# Linux
{{ if (isExecutable "/usr/local/bin/this_is_work_pc") -}}
# Is Work-PC
# >>> JVM installed by coursier >>>
export JAVA_HOME="$HOME/.cache/coursier/arc/https/github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u292-b10/OpenJDK8U-jdk_x64_linux_hotspot_8u292b10.tar.gz/jdk8u292-b10"
export PATH="$PATH:$HOME/.cache/coursier/arc/https/github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u292-b10/OpenJDK8U-jdk_x64_linux_hotspot_8u292b10.tar.gz/jdk8u292-b10/bin"
# <<< JVM installed by coursier <<<

# >>> coursier install directory >>>
export PATH="$PATH:$HOME/.local/share/coursier/bin"
# <<< coursier install directory <<<
{{ end -}}
# macOS
{{ else if (eq .chezmoi.os "darwin") -}}
# Windows
{{ else if (eq .chezmoi.os "windows") -}}
# System-wide bashrc file
if [ -f ~/.bashrc ]; then
    source ~/.bashrc
fi
# Other OS
{{ else -}}
# None
{{ end }}

# vim:ft=bash.chezmoitmpl
