# Global
export LANG=en_US.UTF-8
export GHQ_ROOT="$HOME/ghq"
export PIPENV_VENV_IN_PROJECT=1
export TODAY=(date +'%Y/%m/%d')

# XDG Base Directory
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

{{ if (eq .chezmoi.hostname "TanakaPC") }}
export GITHUB_USERNAME={{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").github_username.value }}
export WIN_HOME={{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").win_home_path.value }}
{{ else }}
export GITHUB_USERNAME={{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").github_username.value }}
export WIN_HOME={{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").win_home_path.value }}
{{ end }}

export WORKSPACE="$GHQ_ROOT/$GITHUB_USERNAME"

alias f="fuck"
alias mkdir="mkdir -p"
alias rm="rm -i"

# ls alias
alias ls="eza"
alias l1="ls -1"
alias lt="ls --tree"
alias ll="ls -l"
alias la="ls -la"
alias lat="ls -l -a --tree"
alias lta="ls --tree -a"

export PATH="/usr/bin:$PATH"
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="$HOME/go/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"

export DENO_INSTALL="$HOME/.deno"
export PATH="$DENO_INSTALL/bin:$PATH"

#Ubuntu
export PATH="/bin:$PATH"
export PATH="/usr/games:$PATH"
export PATH="/usr/sbin:$PATH"
export PATH="/usr/local/games:$PATH"
export PATH="/sbin:$PATH"
export PATH="/snap/bin:$PATH"
export PATH="$HOME/.fzf/bin:$PATH"
export PATH="$HOME/.local/bin/:$PATH"
export PATH="$HOME/.npm-global/bin:$PATH"
export PATH="$HOME/.dotnet/tools/:$PATH"
export PATH="$HOME/.gem/ruby/2.7.0/bin/:$PATH"
export PATH="$HOME/depot_tools:$PATH"
export EDITOR=nvim
export NVIM_APPNAME=nvim
export NVIM_CONFIG="$HOME/.config/nvim"

alias pip="python3 -m pip"
alias vim="nvim"
. $HOME/.asdf/asdf.sh

# chezmoi
export CHEZMOI_DIR="$XDG_DATA_HOME/chezmoi"

# starship config
export STARSHIP_CONFIG="$HOME/.config/starship/starship.toml"
export STARSHIP_CACHE="$HOME/.config/starship/cache"
eval "$(starship init zsh)"

if [ -e $HOME/.nix-profile/etc/profile.d/nix.sh ]; then . $HOME/.nix-profile/etc/profile.d/nix.sh; fi # added by Nix installer

# zoxide
eval "$(zoxide init zsh)"

# fly.io
export FLYCTL_INSTALL="$HOME/.fly"
export PATH="$FLYCTL_INSTALL/bin:$PATH"

# pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
[[ -f ~/.config/tabtab/zsh/__tabtab.zsh ]] && . ~/.config/tabtab/zsh/__tabtab.zsh || true

# broot
source "$HOME/.config/broot/launcher/bash/br"

# Rye
source "$HOME/.rye/env"

# Linuxbrew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# walk
function lk {
  cd "$(walk "$@")"
}

# rtx
#export RTX_DATA_DIR=$HOME/.rtx
#export RTX_CACHE_DIR=$RTX_DATA_DIR/cache

# luarocks
export PATH="$HOME/.luarocks/bin:$PATH"
export LUA_PATH="/usr/local/share/lua/5.3/?.lua;/usr/local/share/lua/5.3/?/init.lua;/usr/local/lib/lua/5.3/?.lua;/usr/local/lib/lua/5.3/?/init.lua;./?.lua;./?/init.lua;$HOME/.luarocks/share/lua/5.3/?.lua;$HOME/.luarocks/share/lua/5.3/?/init.lua"
export LUA_CPATH="/usr/local/lib/lua/5.3/?.so;/usr/local/lib/lua/5.3/loadall.so;./?.so;$HOME/.luarocks/lib/lua/5.3/?.so"

# aqua
# The directory path where aqua install tools
# default (linux and macOS): ${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua
# default (windows): ${HOME/AppData/Local}/aquaproj-aqua
export AQUA_ROOT_DIR="$XDG_DATA_HOME/aqua"
export AQUA_CONFIG_DIR="$XDG_CONFIG_HOME/aqua"
export AQUA_BIN="$AQUA_ROOT_DIR/bin"

export PATH="$AQUA_BIN:$PATH"

type aqua > /dev/null 2>&1
if test $? -eq 0; then
    # Log level
    #set -x AQUA_LOG_LEVEL "info"
    # configuration file path
    export AQUA_CONFIG="$AQUA_CONFIG_DIR/aqua.yaml"
    # global configuration file paths separated by semicolon :
    export AQUA_GLOBAL_CONFIG="$AQUA_CONFIG"
    # policy file paths separated by semicolon :
    export AQUA_POLICY_CONFIG="$XDG_CONFIG_HOME/aqua/policy.yaml"
    # If true, Policy is disabled (aqua >= v2.1.0)
    # NOTE: It's just idiot to care about security.
    export AQUA_DISABLE_POLICY=true
    # If true, Lazy Install is disabled (aqua >= v2.9.0)
    #export AQUA_DISABLE_LAZY_INSTALL=true
    # The maximum number of packages which are installed in parallel at the same time
    #export AQUA_MAX_PARALLELISM=5
    # GITHUB_TOKEN: GitHub Access Token.
    # This is required to install private repository's package
    #export AQUA_GITHUB_TOKEN=""
    # Log color setting (always|auto|never)
    #export AQUA_LOG_COLOR="always"
    # The progress bar is disabled by default, but you can enable it by setting the environment variable AQUA_PROGRESS_BAR to true
    export AQUA_PROGRESS_BAR=true
    # Other
    #export AQUA_GOOS=""
    #export AQUA_GOARCH=""
    # AQUA_X_SYS_EXEC
    # https://aquaproj.github.io/docs/reference/execve-2/
    #export AQUA_X_SYS_EXEC=false
    # If true, aqua outputs additional information such as description and link #2027 #2062 (aqua >= v2.9.0)
    #export AQUA_GENERATE_WITH_DETAIL=false
fi

# inshellisense
#if test -f ~/.inshellisense/key-bindings.zsh
#then
#    source ~/.inshellisense/key-bindings.zsh
#fi

# sheldon
export SHELDON_CONFIG_DIR="$XDG_CONFIG_HOME/sheldon/zsh"
export SHELDON_DATA_DIR="$XDG_DATA_HOME/sheldon/zsh"

eval "$(sheldon source)"

# PHP composer
export COMPOSER_CONFIG_HOME="$XDG_CONFIG_HOME/composer"
export COMPOSER_BIN_DIR="$COMPOSER_CONFIG_HOME/vendor/bin"

export PATH="$COMPOSER_BIN_DIR:$PATH"

# zeno.zsh
export ZENO_HOME="$XDG_CONFIG_HOME/zeno"

# if disable deno cache command when plugin loaded
#export ZENO_DISABLE_EXECUTE_CACHE_COMMAND=1

# if enable fzf-tmux
#export ZENO_ENABLE_FZF_TMUX=1

# if setting fzf-tmux options
#export ZENO_FZF_TMUX_OPTIONS="-p"

# Experimental: Use UNIX Domain Socket
#export ZENO_ENABLE_SOCK=1

# if disable builtin completion
#export ZENO_DISABLE_BUILTIN_COMPLETION=1

# default
export ZENO_GIT_CAT="bat --color=always"

# default
export ZENO_GIT_TREE="exa --tree"

if [[ -n $ZENO_LOADED ]]; then
  bindkey ' '  zeno-auto-snippet

  # fallback if snippet not matched (default: self-insert)
  #export ZENO_AUTO_SNIPPET_FALLBACK=self-insert

  # if you use zsh's incremental search
  #bindkey -M isearch ' ' self-insert

  bindkey '^m' zeno-auto-snippet-and-accept-line

  bindkey '^i' zeno-completion

  bindkey '^x '  zeno-insert-space
  bindkey '^x^m' accept-line
  bindkey '^x^z' zeno-toggle-auto-snippet

  # fallback if completion not matched
  # (default: fzf-completion if exists; otherwise expand-or-complete)
  #export ZENO_COMPLETION_FALLBACK=expand-or-complete
fi

export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"

# delete duplicate path
typeset -U PATH
