enable_nightly_info = true
enable_release_build = false
{{ if (isExecutable "C:\\Program Files\\Yt Env Checks\\this_is_work_pc.exe")) -}}
downloads_location = 'C:\Users\{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").windows_user_name.value }}\AppData\Local\bob'
installation_location = 'C:\Users\{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").windows_user_name.value }}\AppData\Local\bob\nvim-bin'
version_sync_file_location = 'C:\Users\{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").windows_user_name.value }}\.bob-version'
{{ else -}}
downloads_location = 'C:\Users\mimikun\AppData\Local\bob'
installation_location = 'C:\Users\mimikun\AppData\Local\bob\nvim-bin'
version_sync_file_location = 'C:\Users\mimikun\.bob-version'
{{ end -}}
rollback_limit = 3
github_mirror = "https://github.com"

# vim:ft=toml.chezmoitmpl
