{{ if eq .chezmoi.os "windows" -}}

# download bat themes
$batThemesDirectory = Join-Path -Path $env:USERPROFILE -ChildPath ".config\bat\themes"
$batThemeBaseUri = "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime"
$batThemeFiles = @(
    "tokyonight_day.tmTheme"
    "tokyonight_moon.tmTheme"
    "tokyonight_night.tmTheme"
    "tokyonight_storm.tmTheme"
)

# folder exist check
if (-not (Test-Path $batThemesDirectory))
{
    # mkdir $batThemesDirectory
    New-Item -Path $batThemesDirectory -ItemType "directory" > $null
}
foreach ($file in $batThemeFiles)
{
    $themeFile = "$batThemesDirectory\$file"
    if (-not (Test-Path $themeFile))
    {
        Invoke-WebRequest -Uri "$batThemeBaseUri\$file" -OutFile "$themeFile"
    }
}

# vim:ft=ps1.chezmoitmpl

{{ end -}}
