{{ if eq .chezmoi.os "windows" -}}

# download bat themes
Set-Location (Join-Path -Path $env:USERPROFILE -ChildPath ".config\bat\themes")
$batThemeBaseUri = "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime"
Invoke-WebRequest -Uri "$batThemeBaseUri/tokyonight_day.tmTheme" -OutFile "tokyonight_day.tmTheme"
Invoke-WebRequest -Uri "$batThemeBaseUri/tokyonight_moon.tmTheme" -OutFile "tokyonight_moon.tmTheme"
Invoke-WebRequest -Uri "$batThemeBaseUri/tokyonight_night.tmTheme" -OutFile "tokyonight_night.tmTheme"
Invoke-WebRequest -Uri "$batThemeBaseUri/tokyonight_storm.tmTheme" -OutFile "tokyonight_storm.tmTheme"

# download sqlite3.dll
Set-Location (Join-Path -Path $env:USERPROFILE -ChildPath "utilities")
$sqliteDllArchive = "sqlite-dll.zip"
Invoke-WebRequest -Uri "https://www.sqlite.org/2024/sqlite-dll-win-x64-3450200.zip" -OutFile $sqliteDllArchive
Expand-Archive -Path $sqliteDllArchive -DestinationPath .
Remove-Item -Path $sqliteDllArchive
Remove-Item -Path "sqlite3.def"

# download mocword data
Set-Location (Join-Path -Path $env:USERPROFILE -ChildPath "AppData\Local\Temp")
$mocwordDataBaseUri = "https://github.com/high-moctane/mocword-data/releases/download/eng20200217/mocword.sqlite.gz"
$mocwordData = "mocword.sqlite.gz"
Invoke-WebRequest -Uri $mocwordDataBaseUri -OutFile $mocwordData
7z e $mocwordData

{{ end -}}
