{
  "email": "{{ (rbwFields "dotfiles-chezmoi").gitconfig_email.value }}",
  {{ if eq .chezmoi.hostname "TanakaPC" -}}
  "base_url": "{{ (rbwFields "dotfiles-chezmoi").rbw_base_url.value }}",
  {{ else -}}
  "base_url": null,
  {{ end -}}
  "identity_url": null,
  "notifications_url": null,
  "lock_timeout": 3600,
  "sync_interval": 3600,
  "pinentry": "pinentry-curses",
  "client_cert_path": null
}
