
###############################
# Shell environment variables #
###############################

######################
# Shell integrations #
######################

#####################
# Shell completions #
#####################

###################
# Shell functions #
###################

#################
# Shell aliases #
#################

#################
# Shell aliases #
#################

# delete duplicate path
typeset -U PATH

# vim:ft=zsh.chezmoitmpl
