[user]
name = "Yuto Tanaka"
{{ if (eq .chezmoi.os "linux") -}}
email = '{{ (rbwFields "dotfiles-chezmoi").gitconfig_email.value }}'
{{ else -}}
{{ if (isExecutable "C:\\Program Files\\Yt Env Checks\\this_is_work_pc.exe") -}}
email = '{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").gitconfig_email.value }}'
{{ else -}}
email = '{{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").gitconfig_email.value }}'
{{ end -}}
{{ end }}
[ui]
editor = "nvim"
pager = "delta"

[ui.diff]
format = "git"

[aliases]
ls = ["ls-files"]
graph = ["log", "--graph"]
file-diff = ["diff", "--name-only"]
amecomi = ["commit", "--amend", "--no-edit"]
cleanfetch = ["fetch", "--all", "--prune", "--tags", "--prune-tags"]

# vim:ft=toml.chezmoitmpl
