{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash
base_url="https://raw.githubusercontent.com"
dest_dir="$HOME/.emacs.d/themes"

# $HOME/.emacs.d/themes check
if [ ! -d "$dest_dir" ]; then
    mkdir "$dest_dir"
fi

monokai_emacs_repo_uri="oneKelvinSmith/monokai-emacs/master"
monokai_emacs_theme_name="monokai-theme.el"
download_url="$base_url/$monokai_emacs_repo_uri/$monokai_emacs_theme_name"
file_path="$dest_dir/$monokai_emacs_theme_name"

if [[ ! -e "$file_path" ]]; then
    echo "Download from $download_url"
    curl -sSL "$download_url" -o "$file_path"
else
    echo "$file_path is exist."
fi

{{ end -}}
