{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

skk_jisyo_l="SKK-JISYO.L"

cd "$HOME/.skk" || exit


if [[ ! -e "$skk_jisyo_l" ]]; then
    echo "Download from https://skk-dev.github.io/dict/$skk_jisyo_l.gz"
    wget "https://skk-dev.github.io/dict/$skk_jisyo_l.gz"
    sleep 3
    gzip -d "$skk_jisyo_l.gz"
    sleep 3
    rm -f "$skk_jisyo_l.gz"
else
    echo "$skk_jisyo_l is exist."
fi

{{ end -}}
