{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

skk_jisyo_l="SKK-JISYO.L"

cd "$HOME/.skk" || exit

wget "https://skk-dev.github.io/dict/$skk_jisyo_l.gz"

if [ ! -e "$skk_jisyo_l" ]; then
    gzip -d "$skk_jisyo_l.gz"
fi

{{ end -}}
