{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

mocword_sqlite="mocword.sqlite"

# mocword.sqlite
cd "$XDG_CACHE_HOME" || exit

wget "https://github.com/high-moctane/mocword-data/releases/download/eng20200217/$mocword_sqlite.gz"

if [ ! -e "$mocword_sqlite" ]; then
    gzip -d "$mocword.sqlite.gz"
fi

{{ end -}}
