{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

base_url="https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/"
themes=(
    "tokyonight_day.tmTheme"
    "tokyonight_moon.tmTheme"
    "tokyonight_night.tmTheme"
    "tokyonight_storm.tmTheme"
)
dest_dir="$XDG_CONFIG_HOME/bat/themes"

# $XDG_CONFIG_HOME/bat/themes check
if [ ! -d "$dest_dir" ]; then
    mkdir "$dest_dir"
fi

for theme in "${themes[@]}"; do
    download_url="$base_url$theme"
    file_path="$dest_dir/$theme"
    # file check
    if [[ ! -e "$file_path" ]]; then
        echo "Download from $download_url"
        curl -sSL "$download_url" -o "$file_path"
    else
        echo "$file_path is exist."
    fi
done

{{ end -}}
