{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh

# bat themes
cd ~/.config/bat/themes || exit
curl -sSL "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/tokyonight_day.tmTheme" \
    -o tokyonight_day.tmTheme
curl -sSL "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/tokyonight_moon.tmTheme" \
    -o tokyonight_moon.tmTheme
curl -sSL "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/tokyonight_night.tmTheme" \
    -o tokyonight_night.tmTheme
curl -sSL "https://raw.githubusercontent.com/folke/tokyonight.nvim/main/extras/sublime/tokyonight_storm.tmTheme" \
    -o tokyonight_storm.tmTheme

{{ end -}}
