{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh

# emacs themes
cd ~/.emacs.d/themes || exit
curl -sSL "https://raw.githubusercontent.com/oneKelvinSmith/monokai-emacs/master/monokai-theme.el" \
    -o monokai-emacs.el

{{ end -}}
