live_config_reload = true

{{ if (eq .chezmoi.os "windows") -}}
    {{ if (eq .chezmoi.hostname "TanakaPC") -}}
working_directory = "C:\\Users\\{{ (bitwardenFields "item" "0f17c992-d0fe-4f36-bde8-95d9e2de3a6d").windows_user_name.value }}"
    {{ else }}
working_directory = "C:\\Users\\{{ (bitwardenFields "item" "ec557677-82d9-4a61-a4f6-aed300cfb34f").windows_user_name.value }}"
    {{ end }}
[shell]
program = "pwsh.exe"
{{ else if (eq .chezmoi.os "linux") -}}
    {{ if (eq .chezmoi.hostname "azusa") -}}
working_directory = "/home/mimikun"
    {{ else if (eq .chezmoi.hostname "TanakaPC") -}}
working_directory = "/home/USERNAME"
    {{ else -}}
working_directory = "/home/USERNAME"
    {{ end }}
ipc_socket = true
{{ end }}

# vim:ft=toml.chezmoitmpl
