import = [
  # Windows
  "~/AppData/Roaming/alacritty/themes/themes/github_dark.toml",
  # Linux
  "~/.config/alacritty/themes/themes/github_dark.toml",
]
{{ if (eq .chezmoi.os "linux") -}}
shell = "$SHELL"
ipc_socket = true
{{ else -}}
shell = "pwsh"
{{ end -}}
working_directory = "None"
live_config_reload = true
