name: Run PSSA

on:
  push:
    branches:
      - master
    paths:
      - "**.ps1"
      - "**.psd1"

permissions: {}

jobs:
  lint:
    name: Run PSSA
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Run PSSA
        uses: devblackops/github-action-psscriptanalyzer@854038567344559afaaa8ccb7a014452b99d86ee # v2.4.0
        with:
          failOnErrors: true
          failOnWarnings: true
          failOnInfos: true
