name: Run PSSA

on:
  push:
    branches:
      - master
    paths:
      - "**.ps1"
      - "**.psd1"

permissions: {}

jobs:
  lint:
    name: Run PSSA
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Run PSSA
        uses: devblackops/github-action-psscriptanalyzer@854038567344559afaaa8ccb7a014452b99d86ee # v2.4.0
        with:
          failOnErrors: true
          failOnWarnings: true
          failOnInfos: true
