name: Spell Check

on:
  push:
    branches:
      - master

permissions: {}

jobs:
  typos:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check spelling
        uses: crate-ci/typos@ad3053d3adbcce7f2e3c60fd4ddfc239787d1eff # v1.43.2
        with:
          files: ./
          config: ./.typos.toml
