name: Spell Check

on:
  push:
    branches:
      - master

permissions: {}

jobs:
  typos:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Check spelling
        uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2
        with:
          files: ./
          config: ./.typos.toml
