name: Close Stale Issues and PRs
on:
  schedule:
    # Runs every day at 1:30 AM
    - cron: "30 1 * * *"

permissions: {}

jobs:
  stale:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          stale-issue-message: "このIssueは古くなっています"
          stale-pr-message: "このPull Requestは古くなっています"
          close-issue-message: "このIssueは古いので閉じられました"
          close-pr-message: "このPull Requestは古いので閉じられました"
          days-before-stale: 60
          days-before-close: 10
          stale-issue-label: "stale"
