name: Run Stylua

on:
  push:
    branches:
      - master
    paths:
      - "**.lua"
  pull_request:
    paths:
      - "**.lua"

permissions: {}

jobs:
  lint:
    name: Run Stylua
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Run Stylua
        uses: JohnnyMorganz/stylua-action@479972f01e665acfcba96ada452c36608bdbbb5e # v4.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # NOTE: we recommend pinning to a specific version in case of formatting changes
          version: latest
          # CLI arguments
          args: --check .
