name: Run textlint

on:
  push:
    branches:
      - master
    paths:
      - "**.md"

permissions: {}

jobs:
  textlint:
    name: textlint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup nodejs
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: latest

      - name: Install dependencies
        run: |
          pnpm install

      - name: Run textlint
        run: |
          pnpm run textlint
